@import "tailwindcss";

:root {
  --background: #121212;
  --card-bg: #1e1e1f;
  --gold: #ffdb70;
  --text-main: #fafafa;
  --text-secondary: #d6d6d6;
  --border: #383838;
}

body {
  background: var(--background);
  color: var(--text-main);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

@layer utilities {
  .text-gold {
    color: var(--gold);
  }
  .bg-card {
    background-color: var(--card-bg);
  }
  .border-custom {
    border-color: var(--border);
  }
}

/* Override browser autofill styles */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #1e1e1f inset !important;
    -webkit-text-fill-color: white !important;
    caret-color: white !important;
}
